default_agent: personal_finance_agent
agents:
  personal_finance_agent:
    name: personal_finance_agent
    entrypoint: main.py
    platform: linux/arm64
    container_runtime: none
    aws:
      execution_role: arn:aws:iam::<ACCOUNT_ID>:role/AmazonBedrockAgentCoreSDKRuntime-eu-north-1
      execution_role_auto_create: false
      account: '<ACCOUNT_ID>'
      region: eu-north-1
      ecr_repository: <ACCOUNT_ID>.dkr.ecr.eu-north-1.amazonaws.com/bedrock-agentcore-personal_finance_agent
      ecr_auto_create: false
      network_configuration:
        network_mode: PUBLIC
      protocol_configuration:
        server_protocol: HTTP
      observability:
        enabled: true
    bedrock_agentcore:
      agent_id: personal_finance_agent-XXXXXXXXXX
      agent_arn: arn:aws:bedrock-agentcore:eu-north-1:<ACCOUNT_ID>:runtime/personal_finance_agent-XXXXXXXXXX
      agent_session_id: null
    codebuild:
      project_name: bedrock-agentcore-personal_finance_agent-builder
      execution_role: arn:aws:iam::<ACCOUNT_ID>:role/AmazonBedrockAgentCoreSDKCodeBuild-eu-north-1-XXXXXX
      source_bucket: bedrock-agentcore-codebuild-sources-<ACCOUNT_ID>-eu-north-1
    authorizer_configuration:
      customJWTAuthorizer:
        allowedClients:
        - <COGNITO_CLIENT_ID>
        discoveryUrl: https://cognito-idp.eu-north-1.amazonaws.com/<COGNITO_USER_POOL_ID>/.well-known/openid-configuration
    oauth_configuration: null
